@media screen and (max-width: 640px) {
  img{
    max-width: 100%;
    height: auto;
    width /***/:auto;
  }
  * {
    box-sizing: border-box;
  }
  
  
  
  #border div{
    left: 0%;
    width: 33.3333%;
    bottom: 0;
    display: block;
    background-color: #888;
    height: 2px;
    position: relative;
    transition: left 1s cubic-bezier(0.23,1,0.32,1);
  }
  
  
  
  .Contents{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__Tasks{
      margin-top: 80px;
      width: 340px;
      height: 500px;
      overflow: auto;
      .list{
        height: 40px;
        margin-top: 10px;
        .main{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .task{
            // margin-bottom: 5px;
            padding: 5px;
            
            .task-title{
              font-size: 15px;
              color: #333333;
            }
            .task-date{
              font-size: 10px;
              color: #777777;
            }
          }
          .icons{
            display: flex;
            .icon{
              margin-left: 15px;
              font-size: 20px;
              
              a{
                color: #666666;
                &:hover{
                  color: #333333;
                }
              }
            }
          }
        }
      }
      .content{
        text-align: center;
        width: 340px;
        border-bottom: 1px solid #BBBBBB;
        ul{
          margin-top: 10px;
          width: 340px;
          display: flex;
          justify-content: center;
          li{
            width: 200px;
          };
        }
  
        .button{
          font-size: 20px;
          text-align: center;
          width: 340px;
          color: #333333;
          height: 10px;
          padding-bottom:10px ;
          .fa-chevron-down{
            position: relative;
            bottom: 10px;
          }
          &:hover{
            color: #BBBBBB;
          }
        }
        .close{
          font-size: 20px;
          text-align: center;
        }
      }
      .not-content{
        height: 15px;
        width: 340px;
        border-bottom: 1px solid #BBBBBB;
      }
    }
    &__New-task{
      margin-top: 70px;
      position: fixed;
      bottom: 40px;
      right: 30px;
      font-size: 30px;
      
      
      a{
        color: white;
        text-decoration: none;
        padding: 10px 0 2px 19px;
        display: inline-block;
        text-decoration: none;
        background: #20B2AA;
        color: #FFF;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        overflow: hidden;
        &:hover{
          //background-color: #5F9EA0;
          color: #CCCCCC;
        }
      }
    }
  }
  .Task-form{
    margin:0 0 0 600px;
    .text{
      width: 200px;
      height: 50px;
    }
  }
  



  .Main{
    height: 100%;
    width: 100vw;
    
    .Main-header{
      height: 100px;
      width: 100%;
      background-color: #40E0D0;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      &__Name{
        display: flex;
        align-items: center;
        .AppName{
          color: white;
          font-size: 40px;
          font-weight: 900;
          text-decoration: none;
          border: 0;
          margin-left: 20px;
        }
      
  
      }
      &__Box{
        display: flex;
        align-items: center;
        .UserName{
          a{
            text-decoration: none;
            color: #666666;
            font-size: 20px;
            margin-right: 50px;
          }
        }
        .Edit{
          margin: 0 50px 0;
          font-size: 40px;
          a{
            color: white;
            &:hover{
              color: #EEEEEE;
            }
          }
        }
      }
    }
    
  
  
    .Main-contents{
      height: 50px;
      width: 100vw;
      background-color:white;
      border-bottom: 1px solid #DDDDDD;
      display: flex;
  
      .Tags{
        height: 50px;
        width: 96vw;
        display: flex;
        // margin-left: 10px;
        align-items: center;
        overflow-x: auto;
        white-space: nowrap;
        .tag-done{
          padding: 14px 10px 0 13px ;
          border-right: 1px solid #EEEEEE;
          height: 100%;
          .done{
            text-decoration: none;
            color: #555555;
            font-size: 17px;
          }
          &:hover{
            text-decoration: none;
            border-bottom: 2px solid	#3CB371;
          }
        }
        .tag-doing{
          padding: 14px 10px 0 10px ;
          border-right: 1px solid #EEEEEE;
          height: 100%;
          .doing{
            text-decoration: none;
            color: #555555;
            font-size: 17px;
            border: none;
          }
          &:hover{
            text-decoration: none;
            border-bottom: 2px solid	#3CB371;
          }
        }
        .tag{
          border: 0;
          padding: 13px 12px 10px 0;
          position: relative;
          color: white;
          display: inline-block;
          .tag-new{
            text-decoration: none;
            color: #555555;
            font-size: 17px;
            border: 0px;
            padding: 13px 5px 10px 12px;
          }
          &:hover{
            border-bottom: 2px solid	#3CB371;
            border-style: ridge;
            .delete{
              font-size: 15px;
              color: #777777;
              &:hover{
                color: #AAAAAA;
              }
            }
    
          }
          
        }
        
      }
  
    }
    
  }
  #border div{
    left: 0%;
    width: 33.3333%;
    bottom: 0;
    display: block;
    background-color: #888;
    height: 2px;
    transition: left 1s cubic-bezier(0.23,1,0.32,1);
  }
  
  .tag-icon{
    color: #666666;
    position: absolute;
    right: 30px;
    top: 110px;
    font-size: 20px;
    &:hover{
      color: #888888;
    }
  }
  .delete{
    color: white;
  }


}