.Contents
  .Contents__Tasks
    = render @tasks
  
  .Contents__New-task
    = link_to new_tag_task_path,class:"Newtask" do
      = icon('far','edit')

  -# %div.Task-form{style:"display:none"}
  -#   %form
  -#     %input.text{type:"text"}
  -#     %input.submit-btn{type:"submit"}