.tasks-form{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .task-form{
    height: 500px;
    width: 700px;
    margin-bottom: 10%;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    .form-title{
      font-size: 40px;
      color:#555555;
    }

    &__input{
      input{
        width: 400px;
        height: 50px;
        font-size: 20px;
        border-radius: 5px;
        border: 1px solid #DDDDDD;
        padding-left: 10px;
      }
      margin-bottom: 10px;
    }
    .detail-label{
      color: #777777;
    }
    .detail-date{
      textarea{
        border-radius: 5px;
        border: 1px solid #DDDDDD;
        width: 400px;
        height: 100px;
        padding: 5px;
      }
    }
    &__date{
      input{
        width:350px;
        height: 30px;
        display: block;
        border: 1px solid #DDDDDD;
        border-radius: 3px;
        padding: 0 10px 0;
      }
      margin: 0 0 10px 25px;
    }
    &__button{
      input{
        width: 370px;
        height: 45px;
        margin: 10px 0 0 15px;
        background-color:#48D1CC ;
        border-style: none;
        border-radius: 3px;
        color: white;
      }
    }
  }
}

.task-label{
  color: #777777;
}
.date-label{
  color: #777777;
  margin-left: 25px;
}