* {
  box-sizing: border-box;
}



#border div{
  left: 0%;
  width: 33.3333%;
  bottom: 0;
  display: block;
  background-color: #888;
  height: 2px;
  position: relative;
  transition: left 1s cubic-bezier(0.23,1,0.32,1);
}



.Contents{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__Tasks{
    margin-top: 80px;
    width: 800px;
    height: 500px;
    overflow: auto;
    .list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #BBBBBB;
      .task{
        margin-bottom: 5px;
        padding: 5px;
        
        .task-title{
          font-size: 25px;
          color: #333333;
        }
        .task-date{
          font-size: 15px;
          color: #777777;
        }
      }
      .icons{
        display: flex;
        .icon{
          margin-left: 25px;
          font-size: 30px;
          
          a{
            color: #666666;
            &:hover{
              color: #333333;
            }
          }
        }
      }
    }
  }
  &__New-task{
    margin-top: 70px;
    position: fixed;
    bottom: 90px;
    right: 120px;
    font-size: 30px;
    
    
    a{
      color: white;
      text-decoration: none;
      padding: 10px 0 2px 19px;
      display: inline-block;
      text-decoration: none;
      background: #20B2AA;
      color: #FFF;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      overflow: hidden;
      &:hover{
        //background-color: #5F9EA0;
        color: #CCCCCC;
      }
    }
  }
}
.Task-form{
  margin:0 0 0 600px;
  .text{
    width: 200px;
    height: 50px;
  }
}
